
.card {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 2px 2px 4px 4px #DEDEDE;
    transition: 0.3s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;

    img {
        width: 95%;
        height: 95%;
    }

    .card-face {
        backface-visibility: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        &.card-back-face {
            transform: rotateY(180deg);
        }
    }

    &.is-flipped {
        transform: rotateY(180deg);
    }

    &.is-inactive {
        opacity: 0;
    }

    /* HTML: <div class="star"></div> */
    .star {
        /* width: 300px;   */
        aspect-ratio: 1;
        background: #F8CA00;
        clip-path: polygon(50% 0,
        calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
        calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
        calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
        calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))) 
        ); 
        /* or more simple
        clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%); 
        */
    }
}